<!DOCTYPE html>
<html>
   <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/css/style.css' />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.js"></script>
   </head>
   <body>
      {{{body}}}
   </body>
</html>
